---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Animate from "@/components/Animate.svelte";
import ArticleCard from "@/components/card/ArticleCard.astro";
import Empty from "@/components/Empty.astro";

const articles = await getCollection("articles");
---

<Layout title="Articles">
    <h1 class="text-300 font-bold mb-10">My Articles</h1>
    {
        articles.length !== 0 ? (
            articles.map((article, i) => (
                <ArticleCard
                    title={article.data.title}
                    description={article.data.description}
                    tags={article.data.tags}
                    slug={article.slug}
                    publishDate={article.data.publishDate}
                />
            ))
        ) : (
            <Empty props="No articles yet" />
        )
    }
</Layout>
