---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import ProjectCard from "@/components/card/ProjectCard.astro";
import Empty from "@/components/Empty.astro";

const projects = await getCollection("projects");
---

<Layout title="Projects">
    <h1 class="text-300 font-bold mb-10">My Projects</h1>
    {
        projects.length !== 0 ? (
            projects.map((project, i) => (
                <ProjectCard
                    title={project.data.title}
                    description={project.data.description}
                    techStack={project.data.techStack}
                    img={project.data.img}
                    slug={project.slug}
                />
            ))
        ) : (
            <Empty props="No projects yet" />
        )
    }
</Layout>
