---
import Layout from "@/layouts/Layout.astro";
import type { ArticleContent } from "@/types/article";
import { icon } from "@/constants/icon";
import Giscuss from "@/components/Giscuss.svelte";

export type Props = {
    article: ArticleContent;
    slug: string;
};

const { article, slug } = Astro.props as Props;
---

<Layout title={article.title}>
    <div class="mb-5 flex sm:flex-row flex-col justify-between sm:items-end items-start gap-2">
        <div class="flex-1/2">
            <h1 class="sm:text-300 text-200 font-bold mb-1.5">{article.title}</h1>
            <p class="opacity-60 mb-1.5 sm:text-100 text-[14px]">{article.description}</p>
            <h2 class="opacity-60 sm:text-100 text-[14px]">
                Posted on
                {
                    article.publishDate.toLocaleDateString("en-GB", {
                        day: "numeric",
                        month: "long",
                        year: "numeric",
                    })
                }
            </h2>
        </div>
        <a
            href={`https://github.com/hmdnu/hamdanu.my.id/blob/main/src/content/articles/${slug}.mdx`}
            class="flex items-center gap-1.5 w-fit hover:opacity-50 sm:text-100 text-[14px]"
            target="_blank"
        >
            <span class={`${icon.edit} sm:size-5 size-4`}></span>
            <h1 class="font-semibold">Request an edit</h1>
        </a>
    </div>

    <div class="flex gap-2.5 mb-20">
        {article.tags.map((tag) => <label class="font-medium">#{tag}</label>)}
    </div>

    <article class="base-prose">
        <slot />
    </article>

    <Giscuss client:load />
    <p class="mt-5 text-[14px] opacity-60">
        The comment section will appears shortly, if you dont see any, please turn off the adblocker.
    </p>
</Layout>
