---
import { Image } from "astro:assets";
import Layout from "./Layout.astro";
import { type ProjectContent } from "@/types/project";
import { icon } from "@/constants/icon";

export type Props = {
    slug: ProjectContent;
};

const { slug } = Astro.props as Props;
---

<Layout title={slug.title}>
    <section>
        <Image
            src={slug.img}
            alt={slug.title}
            width={1}
            height={1}
            class="card w-full mb-5 border border-gray-300 rounded-md"
        />

        <div class="mt-14 flex justify-between items-end">
            <div class="flex gap-2.5">
                <h1 class="font-medium">Tags:</h1>
                {slug.techStack.map((tech) => <label class="font-semibold">#{tech}</label>)}
            </div>
            <div class="flex gap-2.5">
                {
                    slug.source ? (
                        <a
                            href={slug.source}
                            class="flex items-center gap-1.5 bg-[#333] w-fit rounded-md px-4 py-2 hover:opacity-50"
                            target="_blank"
                        >
                            <span class={`${icon.github} size-6 text-white`} />
                            <h1 class="font-semibold text-white">Source</h1>
                        </a>
                    ) : null
                }
                {
                    slug.source ? (
                        <a
                            href={slug.demo}
                            class="flex items-center gap-1.5 border border-gray-400 w-fit rounded-md px-4 py-2 hover:opacity-50"
                            target="_blank"
                        >
                            <span class={`${icon.web} size-6`} />
                            <h1 class="font-semibold">Demo</h1>
                        </a>
                    ) : null
                }
            </div>
        </div>

        <div class="mt-14">
            <h1 class="text-300 font-bold mb-5">{slug.title}</h1>
            <div class="prose max-w-none text-primary-100">
                <slot />
            </div>
        </div>
    </section>
</Layout>
